<!DOCTYPE html>

<html lang="en">
  <div class="container-fluid">
  <div class="row align-items-center ">
  <div class="col">col-3</div>
  <div class="col-8">
  <br><br><br>
  <div class="card-deck">
  <div class="card">
    <%= image_tag("citrus.png", height: "50%", class:"card-img-top") %>
    <div class="card-body text-center">
      <p class="card-text">Some text inside the first card</p>
    </div>
  </div>
  <div class="card bg-warning">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the second card</p>
    </div>
  </div>
  <div class="card bg-success">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the third card</p>
    </div>
  </div>
  <div class="card bg-danger">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the fourth card</p>
    </div>
  </div> 
</div></div>
  <div class="col">col-3</div>
  </div>
</div>
</html>
