<!DOCTYPE html>
<html lang="en">
  <div class="container-fluid">
  <div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <br>
    <h1 class="text-center"> Meet the Team! </h1>
    <br>
    <table class="table table-borderless text-center">
    <thead>
      <tr>
        <th><%= image_tag("himeji.png", height:"200", width:"200", class:"rounded-circle") %></th>
        <th><%= image_tag("jkolbs.jpg", height:"200", width:"200", class:"rounded-circle") %></th>
        <th><%= image_tag("clover.jpg", height:"200", width:"200", class:"rounded-circle") %></th>
        <th><%= image_tag("pika.png", height:"200", width:"200", class:"rounded-circle") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h4>Jackie</h4></td>
        <td><h4>Jordan</h4></td>
        <td><h4>Caroline</h4></td>
        <td><h4>Joseph</h4></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="col-2"></div>
  </div>
</div>
</html>
