<!DOCTYPE html>
<html lang="en">
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav"></div>
    <div class="col-sm-8 text-left"> 
    <br>
    <h1 class="text-center">Contact us through email!</h1>
    <h5 class="text-left">jfailla1@tulane.edu</h5>
    <h5 class="text-left">jkolbert@tulane.edu</h5>
    <h5 class="text-left">chixon@tulane.edu</h5>
    <h5 class="text-left">jkim15@tulane.edu</h5>
    </div>
    <div class="col-sm-2 sidenav"></div>
  </div>
</div>
</html>
<style>
  h1, h5 {
    font-size: 1.8em
  }
</style>