<div class="container">
  <div class="jumbotron">
    <h1>Pill Project</h1> 
    <p>This site will hopefully remind you to take your medication and is very much under construction.</p> 
  </div>
  <% if logged_in? %>
  <div class = "btn btn-warning"><%= link_to 'New Reminder', new_user_reminder_path(current_user.id) %></div>
  <% end %>
</div>