<div class="container">
  <br>
  <% if logged_in? %>
  <h1 class="text-center"> Welcome Back!</h1>
  <div class="jumbotron"  style="background-color: #ffe6e6;">
    <h1>Pill Project</h1> 
    <p>This site will hopefully remind you to take your medication and is very much under construction.</p> 
  </div>
  <% else %>
  <div class="jumbotron">
    <h1>Pill Project</h1> 
    <p>This site will hopefully remind you to take your medication and is very much under construction.
      our privacy policy can be found  <a href="https://www.freeprivacypolicy.com/privacy/view/1a7f70ddcc5ce5fb7857a6d8727ca9c1">here</a>
    </p> 
  </div>
  <% end %>
  <% if logged_in? %>
  <%= link_to 'New Pill Reminder', new_user_reminder_path(current_user.id), class:"btn btn-warning" %>
  <% end %>
</div>
<style>
  h1 {
    font-size: 2.6em;
  }
  p {
    font-size: 1.6em;
  }
</style>