<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @Reminder.name %></h1>
    <p>
      You have successfully signed up to example.com,
      you need to take: <%= @Reminder.Drug %>.<br>
    </p>
    <p>
      Youneed to take <%= @Reminder.Amount %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>